.container {
    height: 200px;
    background-color: aqua;
    display: flex;
    padding: 30px;
}

.container-2{
  background-color: cornflowerblue;
}

.container-3{
    background-color: darkgoldenrod;
    height: 200px;
}

.item-1 {
    background-color: coral;
    height: 200px;
}

.item-2 {
    background-color: cadetblue;
    height: 200px;
}

.item-3 {
    background-color: burlywood;
    height: 200px;
}

body{
    display: flex;
}