.Container{
    display: flex;
    flex-direction: column;
}

a{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover{
    background-color: black;
    color: white
}