@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Principal-container{
    height: 500px;
    width: 600px;
    display: flex;
    background-color: #fff;
}

img{
    width: 300px;
    height: 500px;
}

.Info-produtos{
   padding: 40px;
}

.categoria{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
}

.Titulo{
    font-family: "Fraunces", serif;
    margin: 20px 0;
    
}

.Descricao{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
