@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.box{
    width: 100%;
    height: 100px;
    background-color: rgb(86, 186, 35);
} 

p{
    background-color: rgba(136, 50, 86, 1);
    color: #fff;
    font-size: 48px; /*tamanho fonte */
    font-weight: 400; /*espessura da fonte */
    font-family: "Sevillana", cursive;

}

.box2{

}